.checkoutform label{
    font-weight: 800;
}

.checkoutform input{
    font-size: 14px !important;
}

.shippinginfo label{
    font-weight: 800;
}

.walogo{
    position: fixed;
    bottom: 05% !important;
    left: 03% !important;
}